<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CoreHouse NYC</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="../static/img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../static/img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/img/apple-touch-icon-144x144-precomposed.png">

	<!-- BASE CSS -->
	<link href="../static/css/base.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

	<!-- Modernizr -->
	<script src="../static/js/modernizr.js"></script>

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<!-- Header ================================================== -->
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-3">
					<a href="index.html" id="logo">
					<font face= "Montserrat" size="5" >CoreHouse</font>
					</a>
				</div>
				<nav class="col-xs-9">
					<ul id="access_top">
						<li><a href="#" class="search-overlay-menu-btn"><i class="icon-search-6"></i></a>
						</li>
						<li><a href="#" data-toggle="modal" data-target="#login" class="hidden-xs">Login</a>
						</li>
						<li><a href="#" data-toggle="modal" data-target="#register" class="hidden-xs">Register</a>
						</li>
					</ul>
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
					<div class="main-menu">
						<div id="header_menu">
							<img src="../static/img/logo.png" width="95" height="27" alt="CoreHouse" data-retina="true">
						</div>
						<a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
						<ul>
							<li><a href="#0">Spa</a>
							<li><a href="#0">Training</a>
							<li><a href="#0">Classes</a>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#login" class="visible-xs">Login</a>
							</li>
							<li><a href="#" data-toggle="modal" data-target="#register" class="visible-xs">Register</a>
							</li>
						</ul>
					</div>
					<!-- End main-menu -->
				</nav>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</header>
	<!-- End Header =============================================== -->

	<!-- SubHeader =============================================== -->
	<section class="header-video">
		<div id="hero_video">
			<div id="sub_content">
				<div class="mobile_fix">
					<h1>CoreHouse <strong>NYC</strong> </h1>
					<p>
						Nourish | Train | Cleanse
					</p>
				</div>
			</div>
			<!-- End sub_content -->
		</div>
		<img src="../static/img/video_fix.png" alt="" class="header-video--media" data-video-src="../static/video/intro" data-teaser-source="video/intro" data-provider="" data-video-width="1920" data-video-height="960">
		<div id="count" class="hidden-xs">
			<ul>
				
				
			</ul>
		</div>
	</section>
	<!-- End Header video -->
	<!-- End SubHeader ============================================ -->

	<section id="feat">
		<div class="container">
			<h2 class="main_title"><em></em>About CoreHouse<span style="color:white;">Tired of having to find time in your schedule to get to the gym, schedule a facial, take a moment to meditate and get the right nutrition? </span></h2>
			<p class="lead styled" style="color:white;">
				CoreHouse was created by Hamid Castro a New York City native and fitness expert Robert Brace, who understands the importance of convenience and looking good. This Spa like workout tackles all elements of looking good and feeling good in under a hour. Our 35 minute class allows you to get the proper nutrition from a wellness shot, the right efficient high intensity fat burning workout with a cool down that relaxes the mind and skin to help you look and feel fresh before your next activity in your day.
			</p>
			<div class="row">
				<div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.2s">
					<div class="box_feat" id="">
						<b><h3 style="color:white;">Workout</h3></b>
						<p style="color:white;">CoreHouse is a 30-minute high intensity interval training class that focuses on the core. We understand the problem areas for everyone and with this class we do not waste time in targeting the areas to make us feel amazing once completed. Get ready for a fat-burning cardio class that finally puts attention on the core. With a sweat belt that stimulates the heat to increase excess water weight from the core and a high cardio blast workout that burns over 600 calories in 30minutes.</p>
					</div>
				</div>
				<div class="col-sm-4 wow fadeIn animated" data-wow-delay="0.5s">
					<div class="box_feat" id="">
						<b><h3 style="color:white;">Cleanse</h3></b>
						<p style="color:white;">The final 5 minute cool down is used to repair the skin and relax the body. Our green tea towels help refresh and energize the face to provide healthy skin after an intense workout. With our green tea cooling towels that allows you to wipe the sweat off to prevent breakouts and close your pores. You then put on your cooling eye masks to reduce the puffiness from your eyes so you are refreshed and ready for your next part of the day.</p>
					</div>
				</div>
				<div class="col-sm-4 wow fadeIn animated" data-wow-delay="1s">
					<div class="box_feat" id="">
						<b><h3 style="color:white;">Green Tea Cooling Towels</h3></b>
						<p style="color:white;">Green Tea is filled with antioxidants and other properties that fight inflammation and bacteria
he EGCG found in Green tea helps reactivate dying skin cells. Our green tea towels help refresh and energize the face to provide healthy skin after an intense workout. We believe in having healthy skin and preventing breakouts after a kick ass workout.</p>
					</div>
				</div>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- End section -->

	<div id="newsletter_container">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<h3>Subscribe to get updates</h3>
					<div id="message-newsletter"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter" class="form-inline">
						<input name="email_newsletter" id="email_newsletter" type="email" value="" placeholder="Your Email" class="form-control">
						<button id="submit-newsletter" class="btn_1"> Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End newsletter_container -->

	<footer>
		<div class="container">
			<div class="row ">
				<div class="col-md-3 col-sm-12">
					<p>
					<font face= "Montserrat" size="5" >CoreHouse</font>
					</p>
					<div id="social">
						<ul>
							<li><a href="#"><i class="icon-facebook"></i></a>
							</li>
							<li><a href="#"><i class="icon-twitter"></i></a>
							</li>
							<li><a href="#"><i class="icon-google"></i></a>
							</li>
							<li><a href="#"><i class="icon-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<h4>More</h4>
					<ul>
						<li><a href="#">About</a>
						</li>
						<li><a href="#">Login</a>
						</li>
						<li><a href="#">Register</a>
						</li>
						<li><a href="#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">

				</div>
				<div class="col-md-3 hidden-sm hidden-xs">
				</div>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</footer>
	<!-- End footer -->
	<div id="copy">
		<div class="container">
			© CoreHouse 2017 - All rights reserved.
		</div>
	</div>
	<!-- End copy -->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- Login modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myLogin">
					<input type="text" class="form-control form-white" placeholder="Username">
					<input type="text" class="form-control form-white" placeholder="Password">
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_1" id="check_1" name="check_1" />
							<label for="check_1"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Register modal -->
	<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<form action="#" class="popup-form" id="myRegister">
					<input type="text" class="form-control form-white" placeholder="Name">
					<input type="text" class="form-control form-white" placeholder="Last Name">
					<input type="email" class="form-control form-white" placeholder="Email">
					<input type="text" class="form-control form-white" placeholder="Password">
					<div class="checkbox-holder text-left">
						<div class="checkbox">
							<input type="checkbox" value="accept_2" id="check_2" name="check_2" />
							<label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span>
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-submit">Register</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_close"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon-search-6"></i>
			</button>
		</form>
	</div>
	<!-- End Search Menu -->

	<!-- COMMON SCRIPTS -->
	<script src="../static/js/jquery-2.2.4.min.js"></script>
	<script src="../static/js/common_scripts_min.js"></script>
	<script src="../static/assets/validate.js"></script>
	<script src="../static/js/functions.js"></script>

	<!-- SPECIFIC SCRIPTS -->
	<script src="../static/js/bootstrap-portfilter.min.js"></script>
	<script src="../static/js/video_header.js"></script>
	<script>
		HeaderVideo.init({
			container: $('.header-video'),
			header: $('.header-video--media'),
			videoTrigger: $("#video-trigger"),
			autoPlayVideo: true
		});
	</script>

</body>

</html>